<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!--自动解析json等，需要引入jackson-databind依赖  -->
    <mvc:annotation-driven>
    	<mvc:message-converters><!-- 解决字符串从Controller传递到页面汉字显示问号 -->
        	<bean class="org.springframework.http.converter.StringHttpMessageConverter">
            	<constructor-arg ref="utf8Charset" />
        	</bean>
    	</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean id="utf8Charset" class="java.nio.charset.Charset" factory-method="forName">
    	<constructor-arg value="UTF-8" />
	</bean>
     
    <!--Spring容器扫描Controller注解，禁用默认过滤器-->
    <context:component-scan base-package="com.sl" use-default-filters="false">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--mvc视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>